@use 'vars' as v;

@media (max-width: 1103px) {
    /* bredda allt sidinnehåll*/
    .page-content {
        width: 85%;
    }

    //Gör produkter lite mindre
    .products-container .card {
        max-width: 300px;
    }
}

@media (max-width: 1045px) {
    /* HEADER */
    //Bredda meny
    .menu-flex {
        width: 90%;
        top: 0.5em;
        padding: 0.2em;

        .logo {
            width: 7em;
        }
    }
    .main-nav ul {
        width: 60vw;
    }
    //Minska hero-text
    .hero-text {
        font-size: 1em;
    }

    /* Justera quality-grid */
    #quality-grid {
        grid-gap: 2em;
        width: 90%;

        .q-grid-item img {
            width: 3em;
        }
    }

    //Köp-kontroller enskild produkt
    .single-product .prod-ctrls {
        flex-wrap: wrap;
        margin-top: 1.5em;
    }
}

@media (max-width: 745px) {
    //Gör om produktsidans container till grid
    .products-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        //Bredda korten
        .card {
            max-width: 100%;
        }
    }
}

@media (max-width: 700px) {
    //hero-text
    .hero-text {
        left: 10%;
        top: 60%;
        font-size: 0.9em;
        width: 45vw;
    }

    //Gör om kategori-grid
    #lp-grid {
        grid-template-areas: 'hundmat halsband' 'leksaker beds';

        //Justera bakgrundsbilder
        #hundmat .img {
            background-position: 50%;
        }

        #koppel .img {
            background-position-y: 30%;
        }
    }

    //Gör om quality-grid
    #quality-grid,
    #chosen-products {
        grid-template-columns: 1fr 1fr;
    }

    //Justera nyhetsbilder
    .news {
        img {
            max-width: 150px;
        }
    }

    //OM OSS-grid
    .employee-container {
        gap: 1em;

        img {
            max-width: 10em;
        }
    }
}

/* HAMBURGERMENY */
@media (max-width: 550px) {
    //Gör om hela menyn!
    .menu-flex {
        width: 90%;
        padding: 0.3em;

        .logo {
            position: relative;
            z-index: 1;
            margin-top: 0.1em;
        }
    }

    //Visa hamburgare
    .nav-container button {
        display: block;
        position: relative;
        z-index: 1;
    }

    //Gör om styling på meny-items, placera utanför skärm
    .main-nav ul {
        display: block;
        position: absolute;
        background-color: v.$darkblue;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        border-radius: 20px 20px 50px 50px;
        min-height: 400px;
        height: 40vh;
        top: -5000px;
        left: 0;
        @include v.transition;
    }

    //För tillbaka när aktiv
    .main-nav.active ul {
        top: 0;
    }
    //Ta bort hero-text
    .hero-text {
        display: none;
    }

    //Visa mobile-text
    p.mobile-text {
        display: block;
    }

    //produktsida
    .products-wrapper h2 {
        margin-top: 2em;
    }

    //Employees
    .employee-container {
        display: flex;
        flex-direction: column;

        .employee {
            margin: 1em 0;
        }
    }
}

@media (max-width: 460px) {
    //Gör om meny lite
    .menu-flex {
        background-color: rgba(23, 59, 69, 0.85);
        padding: 0 0.4em;
    }

    //Flytta knapp
    .nav-container button {
        margin: 0.1em;

        //Gör hamburgare mindre; justera streck
        span {
            width: 1.5em;
            margin: 0.3em;
        }

        &.active {
            span:first-child {
                transform: translateY(6px) rotate(225deg);
            }

            span:last-child {
                transform: translateY(-6px) rotate(-225deg);
            }
        }
    }

    //Bredda alla sidor
    .page-content {
        width: 95%;
    }

    //kategori-grid
    #lp-grid {
        grid-gap: 0.5em;
    }

    //Quality-grid, produkter
    #quality-grid,
    .products-container {
        display: flex;
        flex-direction: column;
    }

    //Utvalda produkter
    #chosen-products {
        gap: 0.5em;
    }

    //Nyheter
    .news {
        flex-direction: column;

        img {
            max-width: 100%;
        }
    }

    //Logga i footer
    footer img {
        width: 4em;
    }

    //Gör om enskild produkt
    .single-product {
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'desc';

        .product-desc {
            grid-area: desc;
        }

        img {
            grid-area: img;
        }
    }
}

@media (max-width: 300px) {
    //Gör om kategori-grid
    #lp-grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 'hundmat' 'halsband' 'leksaker' 'beds';
        .lp-grid-item {
            min-height: 6em;
        }

        #hundmat img {
            background-position: 0%;
        }
    }
    //Gör om utvalda produkter
    #chosen-products {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    //Kontaktformulär
    .contact .form-buttons {
        flex-wrap: wrap;

        input {
            margin: 0.5em;
        }
    }
}
